---
import { useTranslation } from "../../i18n/utils";
const t = useTranslation(Astro.url);
---

<div class="content">
  <div class="imgTxtCont">
    <div class="imgCont">
      <img src="/mathias_present.webp" alt="One of last years speakers" />
    </div>
    <div class="txtCont">
      <p>
        <span class="heroTxt">BOS konferansen</span>
        {t("about.about")}
      </p>
<a href="/about" class="learn-more">{t("about.learnmore")}</a>
    </div>
  </div>
</div>

<style>
  .content {
    max-width: var(--content-width);
    color: #f1f1f1;
    padding: 8rem 2rem;
    margin: 0 auto;
  }
  .imgTxtCont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .imgCont {
    width: 100%;
    margin: auto;

    img {
      width: 100%;
      border-radius: 3rem;
    }
  }
  .txtCont {
    width: 100%;

    p {
      font-size: 1.75rem;
      font-weight: 300;
    }
    .learn-more {
      display: inline-block;
      margin: 2rem 0 0 0;
      color: rgb(173, 241, 255);
      font-size: 1.1em;
      border-bottom: 2px solid rgb(173, 241, 255);
    }
    .learn-more:hover {
      border-bottom: 4px solid rgb(173, 241, 255);
    }
  }
  .txtCont .heroTxt {
    color: #12e8be;
    font-weight: 500;
  }

  .brandingCont {
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin: 6rem 0 0 0;
    font-size: 6rem;
    opacity: 0.4;
    overflow: hidden;
  }

  @media only screen and (min-width: 768px) {
    .imgTxtCont {
      flex-direction: row;
    }
    .imgCont {
      width: 50%;
    }
    .txtCont {
      width: 50%;
    }
  }
</style>
