---
import Layout from "../../layouts/Layout.astro";
import { useTranslation } from "../../i18n/utils";
const t = useTranslation(Astro.url);
---

<Layout title="Support">
  <div class="container">
    <div class="content">
      <h1>{t("support.title")}</h1>
      <div class="txtCont">
        <p>
          {t("support.description")}
        </p>
        <h2>{t("support.ways")}</h2>
        
        <h3>{t("support.donate.title")}</h3>
        <p>{t("support.donate.description")}</p>
        <ul>
          <li>
            <h4>{t("support.donate.vipps.title")}</h4>
            <p>{t("support.donate.vipps.description")}</p>
            <a href="donation-terms">{t("donation-terms.link")}</a>
          </li>
          <li>
            <h4>{t("support.donate.bank.title")}</h4>
            <p>{t("support.donate.bank.description")}</p>
            <p>{t("support.donate.bank.label")} <span class="account-number">{t("support.donate.bank.number")}</span></p>
            <p>{t("support.donate.bank.info")}</p>
          </li>
        </ul>

        <h3>{t("support.volunteer.title")}</h3>
        <p>{t("support.volunteer.description")}</p>

        <h3>{t("support.sponsor.title")}</h3>
        <p>{t("support.sponsor.description")}</p>
        <a href="/sponsor">{t("support.sponsor.link")}</a>

        <h3>{t("support.spread.title")}</h3>
        <p>{t("support.spread.description")}</p>

        <p>{t("support.contact")} 📨: post(at)boskonf.no</p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .content {
    color: #f1f1f1;
    padding: 1rem 2rem;
    max-width: var(--content-width);
    margin: 0 auto;
  }

  .txtCont {
    width: 100%;

    h3 {
      margin-top: 2rem;
    }
    h4 {
      font-size: 1.1rem;
      margin-top: 1rem;
      font-weight: 500;
    }
    p {
      font-size: 1.2rem;
      font-weight: 300;
    }
    a {
      width: max-content;
      margin: 1rem 0;
      display: inline-block;
      color: #12e8be;
    }
    a:hover {
      text-decoration: underline;
    }
    ul {
      margin-top: 1rem;
    }
    ul li {
      margin-left: 2rem;
      list-style-type: disc;
    }
    ul li p {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
    .account-number {
      font-weight: 600;
    }
  }

  @media only screen and (min-width: 768px) {
    .txtCont {
      width: 100%;
    }
  }
</style>