---
import LanguageSwitch from "./LanguageSwitch.astro";
import sourceIcon from "../../public/footer/source.svg?raw";
import emailIcon from "../../public/footer/email.svg?raw";
import linkedinIcon from "../../public/footer/linkedin.svg?raw";
import { useTranslation } from "../i18n/utils";

const t = useTranslation(Astro.url);
---

<footer>
    <nav>
        <LanguageSwitch />
        <a href="https://github.com/boskonf/boskonf.no" target="_blank">
            <Fragment set:html={sourceIcon} /><span>{t("footer.sourceLink")}</span>
        </a>
    </nav>
    <span>{t("footer.text")}</span>
    <nav>
        <a href="mailto:post@boskonf.no">
            <Fragment set:html={emailIcon} />
            <span>post@boskonf.no</span>
        </a>
        <a href="https://www.linkedin.com/company/boskonf">
            <Fragment set:html={linkedinIcon} />
            <span>LinkedIn</span>
        </a>
    </nav>
</footer>

<style>
footer {
    max-width: var(--content-width);
    margin: 4vh auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    span {
        order: 1;
    }

    nav:first-of-type {
        order: 0;
    }

    nav:last-of-type {
        order: 2;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            :hover {
                color: #12e8be;
                text-decoration: underline;
            }
        }
    }

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        padding: 0 0 0 4vh;

        span {
            order: 0;
        }

        nav:first-of-type {
            order: 1;
        }

        nav:last-of-type {
            order: 2;
        }
    }
}
</style>
